* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #5d326c, #350048);
    /*fiolet*/
}

.eventsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

.container__input {
    width: 80vw;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__input img {
    height: 32px;
    width: 32px;
}

.container__input img:hover {
    transform: rotate(360deg);
    transition: transform 2s;
}

.header {
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: #fff;
    text-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}


.event {
    width: 100%;
    min-height: 150px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    padding: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(15px);
    position: relative;
}

.event h1 {
    color: #fff;
    letter-spacing: 3px;
    text-shadow:0 15px 15px rgba(0, 0, 0, 0.3);
}